.imageDetails {
  // position: relative;
  // display: none;
  left: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  // z-index: 20;
  .overlay {
    height: 100vh;
    width: 100vw;
    // max-width: 100vh;
    background-color: black;
    opacity: 0.04;
    position: absolute;
    z-index: -1;
    // left: 0;
    // top: 0;
  }
  .image {
    border-radius: 100px;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 50%;
    // height: 50%;
  }
  &.hidden {
    display: none;
  }
  &.show {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .imageDetails {
  }
}

@media (min-width: 1028px) {
  .imageDetails {
  }
}
